.container{
    margin: 0 auto;
    width: 980px;
    align-items: center;
    padding: 10px 25px;
}
a{
    text-decoration: none;
}
nav a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: large;
    background-color: #04AA6D;
    padding-right: 1em;
    text-align: right;  
    margin: 0;
    padding: 10px;
    display: block;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://images.pexels.com/photos/7130532/pexels-photo-7130532.jpeg?cs=srgb&dl=pexels-gradienta-7130532.jpg&fm=jpg&_gl=1*xlqif8*_ga*MjgxNzQzNTU1LjE2NjM5NTY3Mjg.*_ga_8JE65Q40S6*MTY2NjgwNjEyMy45LjEuMTY2NjgwNjI5MS4wLjAuMA..");
    background-repeat: repeat-x;
}
.prodDesc{
    text-indent: 3em;
    word-wrap: break-word;
    text-align:justify;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th {
    background-color: #04AA6D;
    color: white;
    text-align: left;
  }
tr:nth-child(even) {background-color: #b9b9b9;
}
.tablePrice{
    padding-top: 2em;
}
img{
    border-style: none;
}
.productImage{
    vertical-align: top;
    text-align: center;
}
.productView{
    padding: 15px 15px;
}
.hotSpotMap{
    padding-top: 5%;
    display: block;
    text-align: center;
    padding-bottom: 10%;
}
footer{
    padding: 10px;
    color: white;
    background-color: #04AA6D;
    display: block;
    text-align: center;
}